TextFlow {
    -fx-padding: 15px;
	-fx-font-family: "Meiryo";
	-fx-font-size: 12px;
	-fx-background-color: #FAFAFA;
}
TextFlow Text {
    -fx-fill: #202020;
}
TextFlow Text.link {
	-fx-font-family: consolas;
    -fx-fill: #0033cc;
}
TextFlow Text.link:hover {
    -fx-underline: true;
}
TextFlow Text.bold {
    -fx-font-weight: bold;
}
.dialog-pane > .content {
    -fx-padding: 1 0 1 0;
    -fx-background-color: -fx-box-border;
}
.scroll-pane {
    -fx-padding: 0;
    -fx-background-insets: 0;
}
.scroll-bar:horizontal{
    -fx-background-color: #F1F1F1;
    -fx-background-insets: 0;
    -fx-padding: 1 0 1 0;
}
.scroll-bar:vertical{
    -fx-background-color: #F1F1F1;
    -fx-background-insets: 0;
    -fx-padding: 0 1 0 1;
}
.scroll-bar:horizontal .track ,
.scroll-bar:vertical .track{
     -fx-background-color: #F1F1F1;
}
.scroll-bar:horizontal .thumb,
.scroll-bar:vertical .thumb {
    -fx-background-color: #C1C1C1;
    -fx-background-insets: 0, 0, 0;
    -fx-background-radius: 0;
}
.scroll-bar:horizontal .thumb:hover,
.scroll-bar:vertical .thumb:hover {
    -fx-background-color: #A8A8A8;
}
.scroll-bar:horizontal .thumb:pressed,
.scroll-bar:vertical .thumb:pressed {
    -fx-background-color: #787878;
}
.scroll-bar:vertical .increment-button,
.scroll-bar:vertical .decrement-button,
.scroll-bar:horizontal .increment-button,
.scroll-bar:horizontal .decrement-button {
    -fx-padding: 0px;
}
.scroll-bar:vertical .increment-arrow,
.scroll-bar:vertical .decrement-arrow {
    -fx-padding: 0 5 0 5;
}
.scroll-bar:horizontal .increment-arrow,
.scroll-bar:horizontal .decrement-arrow {
    -fx-padding: 5 0 5 0;
}
