.container {
	-fx-background-color: rgb(39, 40, 34);
	-fx-background-radius: 5;
	-fx-effect: dropshadow(two-pass-box, black, 10, 0, 1, 1);
}

.label.title {
	-fx-padding: 7 12 0 12;
	-fx-font-size: 16;
	-fx-wrap-text: false;
}

.label.message {
	-fx-padding: 0 12 7 12;
	-fx-font-size: 14;
	-fx-wrap-text: true;
	-fx-text-fill: #f0f0f0;
}
